<div class="section-outer">
    <div class="section-wrapper">
        <div class="col-md-9">
            <div class="main-video">
                <%= render "results/vidmain"%>
            </div>
            <div class="search-results"></div>
        </div><!--col-md-9-->
        <div class="col-md-3">
            <%= render "playlists/playlist_index" %>
        </div><!--col-md-3-->
    </div><!--section-wrapper-->
</div><!--section-outer-->


