<%= form_tag results_path, id: "search", remote: true do %>
    <!-- <form class="navbar-form navbar-left form-inline"> -->
    <div class="input-group">
        <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Pickl A Song", autofocus: "true") %>
        <span class="input-group-btn">
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
                <i class="fa fa-search"></i>
            <% end %>
        </span><!--input-group-btn-->
    </div><!--input-group-->
</form>
<% end %>
