<!--Main video-->
<h3 id="active-song-title" data-track='0'><%= @main.title %></h3>
<div class="vid-container">
    <div id="main-player" class="vid-frame" data-video-id='<%= @main.video_id %>'>
    </div>
</div>