<!--Results List-->
<div class="vid-list-container">
    <div class="vid-list">
        <% @results.each_with_index do |result, index| %>
            <div class="clearfix">
            <div class="vid-item", data-attributes="<%= result.attributes.to_json %>">
                <span class="thumb">
                    <img src="<%= result.thumbnail %>">
                </span>
                <h4 class="desc truncate line-clamp">
                    <%= result.title %>
                </h4>
            </div>
            </div>
            <% end %>
    </div><!--vid-list-->
</div><!--vid-list-container-->
