<!--Results List-->
<h3 class="results-title">Results</h3>
<div class="vid-list-container">
    <div class="vid-list">
        <% @results.each_with_index do |result, index| %>
            <div class="clearfix">
            <div class="vid-item", data-attributes="<%= result.attributes.to_json %>">
                <span class="thumb">
                    <% if user_signed_in? %>
                        <img src="<%= result.thumbnail %>" data-toggle="tooltip" data-placement="top" title="Click to add to current playlist!">
                    <%else%>
                     <img src="<%= result.thumbnail %>" data-toggle="tooltip" data-placement="top" title="Click me to play!">
                    <%end%>
                </span>
                <h4 class="desc truncate line-clamp">
                    <%= result.title %>
                </h4>
            </div>
            </div>
            <% end %>
    </div><!--vid-list-->
</div><!--vid-list-container-->

<script>
    $(function() {
        $('.vid-list-container').perfectScrollbar({
          suppressScrollX: true
        });
    });
</script>
