// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#playlist_panel {
    padding-top: 20px;
}

.dropdown.polls-subtitle {
    font-size: 24px;
    font-weight: 300;
}

h4#pl-song-title {
    text-align: left
}

div.song {
  display: block;
  width: 148px;
  height: 148px;
  float: left;
  margin: 0;
  padding: 10px;
}

div.song .desc{
  width: 128px;
  text-align: left;
  color: black;
  font-size: 15px;
  margin-top:5px;
}

.truncate {
    width: 148px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#pl-song-thumb img {
  width: 100%;
  position: relative;
}

div#pl-song-thumb {
  overflow:hidden;
  height: 70px;
}
