// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group {
    width: 600px;
    left: 10px;
}

input#q {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.input-group-btn:last-child>.btn {
  padding: 9px 12px;
  margin: -5px -5px -5px 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 0px;
    font-weight: 900;
    font-size: 13px;
}

form#search {
  float: right;
  padding: 9px;
}

.navbar .navbar-brand {
  padding: 15px 15px;
  float: left;
  color: white;
}

.section-wrapper {
  padding-top: 55px;
}
